.contact_component {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.contact_item {
  display: flex;
  align-items: center;
  gap: 2rem;
  p {
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(85, 82, 82);
  }
}
