/* @media (prefers-color-scheme: dark) { */

.footer_icons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.footer_icon {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  > img {
    display: block;
    position: relative !important;
    height: 100%;
  }
}

main {
  .main_section {
    height: 100dvh;
  }
}
