/* @media (prefers-color-scheme: dark) { */

.footer_icons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.footer_icon {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  > img {
    display: block;
    position: relative !important;
    height: 100%;
  }
}

main {
  .main_section {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .section_title {
      font-size: 2rem;
      font-weight: 600;
    }
  }

  .main1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;
    gap: 4rem;
    .main1_left {
      .main_title {
        font-size: 2.5rem;
        font-weight: 700;
      }
      .main_pre {
        font-size: 1rem;
      }
    }

    .main1_right {
      width: 30%;
      .profile_img {
        width: 30vw;
        height: 30vw;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        background-color: azure;
        img {
          object-fit: contain;
        }
      }
    }
  }
}
