.header_container {
  height: 60px;
  background-color: darkgrey;
  /* padding: 0 30px; */
  /* width: var(--ma); */
  /* position: absolute;
  left: 0;
  top: 0; */
}

.header_list {
  width: var(--max-width);
  height: 100%;
  display: flex;
  list-style-type: none;
  gap: 2rem;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}
