.header_container {
  height: 60px;

  width: 100%;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  transition: top 0.3s ease;
  z-index: 1;
}

.header_container.hide {
  top: -60px;
  transition: top 0.3s ease;
}

.header_container.background {
  background-color: rgba(0, 0, 0, 0.05);
}

.header_list {
  width: var(--max-width);
  height: 100%;
  display: flex;
  list-style-type: none;
  gap: 2rem;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  font-weight: 600;
  color: gray;
  a {
    color: gray;
    text-decoration: none;
  }
}

/* 모바일 */
@media (max-width: 767px) {
  .header_list {
    gap: 1.5rem;
    justify-content: center;
  }
}
