.header_container {
  height: 60px;
  /* background-color: rgba(0, 0, 0, 0.1); */
  /* padding: 0 30px; */
  /* width: var(--ma); */
  /* position: absolute;
  left: 0;
  top: 0; */
}

.header_list {
  width: var(--max-width);
  height: 100%;
  display: flex;
  list-style-type: none;
  gap: 2rem;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  font-weight: 600;
  color: gray;
}

/* 모바일 */
@media (max-width: 767px) {
  .header_list {
    gap: 1.5rem;
    justify-content: center;
  }
}
