.dot_list_component {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin: 0 auto 2rem;
  .dot_list_left {
    /* padding-top: 0.5rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .number {
      background-color: var(--primary);
      font-size: 1rem;
      color: white;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .vertical_line {
      margin-top: 0.5rem;
      width: 3px;
      height: calc(100% - 2.5rem);
      background-color: var(--secondary);
    }
  }

  .dot_list_right {
    width: 100%;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1.5px solid var(--border-color);

    .content_top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .company_name {
        font-weight: 600;
        font-size: 1.25rem;
      }
    }

    .content_middle {
      .work_title,
      .work_content {
        font-size: 0.75rem;
        color: rgb(90, 90, 90);
      }
    }

    .experience_content {
      font-size: 0.8rem;
      margin-top: 0.75rem;
      .skill_list {
        display: flex;
        gap: 0.25rem;
        flex-wrap: wrap;
        margin: 1rem 0;
        p {
          width: fit-content;
          font-size: 0.75rem;
          border-radius: 0.25rem;
          background-color: var(--secondary);
          padding: 0.1rem 0.5rem;
          color: rgb(116, 114, 114);
        }
      }
      .job_list {
        margin: 0.75rem 0;
        .project_title {
          font-size: 0.875rem;
          font-weight: 600;
        }
        .project_content {
          padding-left: 0.5rem;
          line-height: 1.5;
        }
      }
    }
  }
}
