.dot_list_component {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 80%;
  margin: 0 auto 2rem;
  .dot_list_left {
    /* padding-top: 0.5rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .number {
      background-color: var(--primary);
      font-size: 1rem;
      color: white;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .vertical_line {
      margin-top: 0.5rem;
      width: 3px;
      height: calc(100% - 2.5rem);
      background-color: var(--secondary);
    }
  }

  .dot_list_right {
    width: 60%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1.5px solid var(--border-color);

    .content_top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .company_name {
        font-weight: 500;
      }
    }

    .content_middle {
      .work_title,
      .work_content {
        font-size: 0.75rem;
        color: rgb(90, 90, 90);
      }
    }

    .experience_content {
      font-size: 0.8rem;
      margin-top: 0.75rem;
    }
  }
}
